.div1
{
  margin:50px;
  border:3px solid red;
  padding-top:25px;
  padding-bottom:25px;
  padding-right:10px;
  padding-left:10px;
  border-radius:25px;
  text-align:center;
}
.div2
{
    margin:20px;
    border:3px solid red;
    padding-top:25px;
    padding-bottom:25px;
    padding-right:10px;
    padding-left:10px;
    border-radius:25px;
    border-top-left-radius:50px;
    border-bottom-right-radius:50px;
    text-align:center;
}